extends plantilla.pug

block append metas
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

block content
  h1 Contenidasdo!
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos delectus veritatis aliquam rerum, vel odio. Magni officia tenetur laudantium sapiente sequi labore ipsum unde autem nulla voluptas totam saepe et vel, eligendi molestiae animi illum, dicta impedit error assumenda iste sint velit dolorum. Blanditiis accusamus dolor, consequuntur debitis accusantium animi fugiat. Magni iste veniam accusamus quisquam amet esse aliquam est, eveniet adipisci blanditiis doloremque, commodi. Voluptatibus dolorem, laboriosam, enim laudantium nihil repudiandae velit obcaecati cupiditate praesentium aut quo eveniet. Aliquam optio, corrupti nam nostrum. Amet autem tenetur quisquam, maxime ducimus reprehenderit, commodi numquam porro velit esse ex explicabo. Velit.asd

block append foot