<!DOCTYPE html>
html(lang="en")
head
  block title
    title Document
  block metas
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
body
  block content
  block foot
    footer
      p Copyright Op


//-Hacer un pug que herede de otro (una plantilla), procesar el pug con pug-cli de npm y automatizar con gulp empleando el watcher, que cada vez que haya cambios lo compile en local.
//-(opcional) subir a bitbucket en vez de enviar por correo, no es necesario ni minificar ni ofuscar.